numpy
matplotlib
scipy
portpicker
s2clientprotocol
aiohttp
pyglet
mpyq
atomicwrites
burnysc2
pytest
pillow
pytest-asyncio
hypothesis
pytest-benchmark
sphinx
sphinx-autodoc-typehints
pytest-cov
coverage
codecov
loguru 